name: Deploy Factory

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
    secrets:
      AZURE_CLIENT_ID_D_APIM:
        required: true
      AZURE_CLIENT_SECRET_D_APIM:
        required: true
      AZURE_SUBSCRIPTION_ID_D_APIM:
        required: true
      AZURE_TENANT_ID_D_APIM:
        required: true

jobs:
  
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install jq
      run: sudo apt-get install jq

    - name: Log in to Azure
      uses: azure/login@v2
      with:
        creds: >
              {
                "clientId":"${{ secrets.AZURE_CLIENT_ID_D_APIM }}",
                "clientSecret":"${{ secrets.AZURE_CLIENT_SECRET_D_APIM }}",
                "subscriptionId":"${{ secrets.AZURE_SUBSCRIPTION_ID_D_APIM }}",
                "tenantId":"${{ secrets.AZURE_TENANT_ID_D_APIM }}"
              }
        enable-AzPSSession: true

    - name: Read factory JSON files and deploy
      run: |
          factory1=$(cat ./factory/ADF-KOMATSU.json)
          # Ensure the globalParameters are passed correctly
          globalParams=$(echo "$factory1" | jq -r '.properties.globalParameters | @json')
          echo "Global Parameters: $globalParams"  # For debugging
          az deployment group create \
            --resource-group "komatsu" \
            --template-file ./bicep/modules/factory.bicep \
            --parameters dataFactoryName="DMJTest" \
            --parameters globalParameters="$globalParams"
      
