name: Deploy ADF Components

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs: 
  versioning:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Configure Git user
        run: |
          git config --global user.email "souvikg90@gmail.com"
          git config --global user.name "Souvik Ghosh"

      - name: Run deployment script
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          echo "Current version: $VERSION"
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo $VERSION > version.txt
          git add version.txt
          git commit -m "Update version to $VERSION"
          git push

      - name: Push updated version file
        run: |
          git tag $VERSION
          git push origin $VERSION
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Log in to Azure
        uses: azure/login@v2
        with:
          creds: |
              {
                "clientId":"${{ secrets.AZURE_CLIENT_ID_D_APIM }}",
                "clientSecret":"${{ secrets.AZURE_CLIENT_SECRET_D_APIM }}",
                "subscriptionId":"${{ secrets.AZURE_SUBSCRIPTION_ID_D_APIM }}",
                "tenantId":"${{ secrets.AZURE_TENANT_ID_D_APIM }}"
              }

  # deploy-LinkedService:
  #   needs: build
  #   uses: ./.github/workflows/LinkedService.yml
  #   with: 
  #     branch: main
  #   secrets:
  #     AZURE_CLIENT_ID_D_APIM: ${{ secrets.AZURE_CLIENT_ID_D_APIM }}
  #     AZURE_CLIENT_SECRET_D_APIM: ${{ secrets.AZURE_CLIENT_SECRET_D_APIM }}
  #     AZURE_SUBSCRIPTION_ID_D_APIM: ${{ secrets.AZURE_SUBSCRIPTION_ID_D_APIM }}
  #     AZURE_TENANT_ID_D_APIM: ${{ secrets.AZURE_TENANT_ID_D_APIM }}

  # deploy-DataSets:
  #   needs: deploy-LinkedService
  #   uses: ./.github/workflows/DataSets.yml
  #   with: 
  #     branch: main
  #   secrets:
  #     AZURE_CLIENT_ID_D_APIM: ${{ secrets.AZURE_CLIENT_ID_D_APIM }}
  #     AZURE_CLIENT_SECRET_D_APIM: ${{ secrets.AZURE_CLIENT_SECRET_D_APIM }}
  #     AZURE_SUBSCRIPTION_ID_D_APIM: ${{ secrets.AZURE_SUBSCRIPTION_ID_D_APIM }}
  #     AZURE_TENANT_ID_D_APIM: ${{ secrets.AZURE_TENANT_ID_D_APIM }}

  # deploy-DataFlow:
  #   needs: deploy-DataSets
  #   uses: ./.github/workflows/DataFlow.yml
  #   with: 
  #     branch: main
  #   secrets:
  #     AZURE_CLIENT_ID_D_APIM: ${{ secrets.AZURE_CLIENT_ID_D_APIM }}
  #     AZURE_CLIENT_SECRET_D_APIM: ${{ secrets.AZURE_CLIENT_SECRET_D_APIM }}
  #     AZURE_SUBSCRIPTION_ID_D_APIM: ${{ secrets.AZURE_SUBSCRIPTION_ID_D_APIM }}
  #     AZURE_TENANT_ID_D_APIM: ${{ secrets.AZURE_TENANT_ID_D_APIM }}

  # deploy-Pipeline:
  #   needs: deploy-DataFlow
  #   uses: ./.github/workflows/Pipeline.yml
  #   with: 
  #     branch: main
  #   secrets:
  #     AZURE_CLIENT_ID_D_APIM: ${{ secrets.AZURE_CLIENT_ID_D_APIM }}
  #     AZURE_CLIENT_SECRET_D_APIM: ${{ secrets.AZURE_CLIENT_SECRET_D_APIM }}
  #     AZURE_SUBSCRIPTION_ID_D_APIM: ${{ secrets.AZURE_SUBSCRIPTION_ID_D_APIM }}
  #     AZURE_TENANT_ID_D_APIM: ${{ secrets.AZURE_TENANT_ID_D_APIM }}
    
  # deploy-Trigger:
  #   needs: deploy-Pipeline
  #   uses: ./.github/workflows/Trigger.yml
  #   with: 
  #     branch: main
  #   secrets:
  #     AZURE_CLIENT_ID_D_APIM: ${{ secrets.AZURE_CLIENT_ID_D_APIM }}
  #     AZURE_CLIENT_SECRET_D_APIM: ${{ secrets.AZURE_CLIENT_SECRET_D_APIM }}
  #     AZURE_SUBSCRIPTION_ID_D_APIM: ${{ secrets.AZURE_SUBSCRIPTION_ID_D_APIM }}
  #     AZURE_TENANT_ID_D_APIM: ${{ secrets.AZURE_TENANT_ID_D_APIM }}
